<h2>Hola Ruby!</h2>
<%= link_to 'Nuevo Paso a Paso', products_path, method: :post %>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Color</th>
            </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.color %></td>
        </tr>
        <% end %>
    </tbody>
</table>


